@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
